.ability-img {
    width: 80%;
}

.block {
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.skill-img {
    width: 150px;
    box-shadow: 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 237, 237);
    border-image: initial;
    border-radius: 20px;
}

.back-position{
    position:absolute;
    background: black;
    height: 150px;
    opacity: 0.5;
}

.innerImg {
    padding: 30px;
}

.skill-font{
    margin: 0;
    text-align: center;
    padding: 4px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.hide-content {
    /*position: absolute;*/
    display: none;
}

.hide-content h3 {
    margin: 0;
}

.center-header {
    text-align: center;
}

.skill-mini-header {
    /* border-bottom: 1px solid black; */
    /* border-bottom: solid 3px #f56a6a; */
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.none-font {
    font-family: none;
}

.none-font li a {
    font-family: none;
}

.none-font li span {
    font-family: none;
    font-weight: bold;
}

.skill-mini-header-top-div {
    width: 70%;
    display: inline-block;
}


/* hover */
#skill-img:hover > #backSkillImg{
    display:block;
}




/*반응형*/

@media (max-width: 374px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }
}